*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: aqua;
}
div button {
    border: 1px solid black;
    padding: 10px;
    align-items: center;
    border-radius: 30% ;
    color: white;
    background-color: black;
}
button:hover {
    background-color: aliceblue;
    color: rgb(179, 112, 12);
    cursor: pointer;
}